body {
  background-image: url('https://static01.nyt.com/images/2024/02/27/well/23Well-fitness-data/23Well-fitness-data-superJumbo.jpg');
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu Sans', sans-serif;
}

.user-dash {
  height: 85%;
  width: 85%;
  background: rgba(245, 243, 243, 0.1); 
  border-radius: 2rem;
  backdrop-filter: blur(4px);
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(198, 6, 205, 1) 0px 5px 10px;
  padding: 2rem;
  border-color:#7f0283;


}
.card-banner {
  grid-row: 1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  color: #fcfcf9;
  padding-right: 2rem; 
}

.card {
  margin: 2rem;
  padding: 2rem;
  background: rgba(239, 90, 227, 0.1); 
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(198, 6, 205, 1) 0px 5px 10px;
  color: #ffffff;
}

.card1 {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.card2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  gap: 2rem;
  justify-items: center; 
  align-items: center;
}

.card3 {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}

.widget {
  color: #ffffff; 
  width: 100%; 
  height: auto; 
  background: rgba(218, 125, 249, 0.1); 
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget1, .widget2 {
  width: 90%; 
}
.moreInfoBttn {
  background-color: #f546e0;
  border: none;
  color: white;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 8rem;
  font-size: 1rem;
  text-align: center;
  line-height: 2.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.moreInfoBttn:hover {
  background-color: #7f0283;
  cursor: pointer;
}

.user-card, .allInfoCard {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 1rem;
  color: #ffffff;
  background: rgba(218, 125, 249, 0.1); 
  border-radius: 2rem;
}
