body {
  background-image: url(https://static01.nyt.com/images/2024/02/27/well/23Well-fitness-data/23Well-fitness-data-superJumbo.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  gap: 4rem;
  font-family: "Ubuntu Sans", sans-serif;
  color: white;
}

/* .navbar{
  height: 85%;
  background: rgba(128, 128, 128, 0.3);
  width: 5%;
  border-radius: 2rem;
} */
.user-dash {
  height: 85%;
  width: 85%;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 2rem;
  backdrop-filter: blur(4px);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user-card {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.allInfoCard {
 
  height: 20rem;
  width: 20rem;
}

.moreInfoBttn {
  background: rgb(217, 90, 74);
  border: none;
  color: white;
  width: 35%;
  height: 100%;
  border-radius: .5rem;
}

.moreInfoBttn:hover {
  background:  rgb(225, 184, 179);;
  color:  rgb(217, 90, 74);
  cursor: pointer;
}



.card {
  margin: 2rem;
  padding: 2rem;
  background: rgba(181, 41, 232, 0.5);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.banner {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-color: transparent;

}

.card1 {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 5;
  grid-column: 1 / 3;
}
.card2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-row: 1 / 5;
  grid-column: 3 / 7;
  gap: 2rem;
}
.card3 {
  grid-column: 1 / 7;
  grid-row: 5 / 7;
}
.widget {
  color: black;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  margin: 1rem;

}
.widget1 {
  grid-row: 1/ 2;
  grid-column: 1/ 2;
}

.widget2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;

}


